* {
  margin: 0;
  padding: 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}

